body{
    background-color: #e5e5e5;
}
.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.favicon{
    width: 38px;
    height: 38px;
}





